---
export const prerender = true;
import Layout from "@/layouts/BaseLayout.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <a href="/contact" class="w-[10rem] mx-auto block text-center mt-[5rem] border border-warning rounded-md px-2 py-1">Contact</a>
</Layout>
